html
{
  scroll-behavior: smooth;
}

body
{
  font-family: 'Montserrat', monserrat;
  font: 19px / 30px Montserrat, "Montserrat", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #364b3c;
  color: white;
  overflow-x: hidden;
}

.normalSection
{
  position: relative;
  padding: 80px 20px;
  min-height: auto;
}

.stripedSection
{
  position: relative;
  display: flex;
  background-color: #2a362d;
  padding: 80px 20px;
  min-height: auto;
}

.sectionStripe
{
  width: 100%;
  height: 3px;
  opacity: 0.5;
  background-color: white;
  margin: 0;
  padding: 0;
}

.sectionDivider, .sectionDividerMirror
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 1;
  transform: translateY(70%); /* Needed to work dynamically on different screen sizes */
}

#splash
{
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/splashbackground.png") center/cover no-repeat;
  min-height: 100vh;
  color: white;
}

#splash::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, transparent, #2a362d);
}

#splashTextRotate
{
    display: inline-block;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.splash
{
  /* height: 100vh; */
  background: linear-gradient(to bottom, #5e7183, #364b3c);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.about p
{
  text-indent: 50px;
  font-size: 1.5rem;
  opacity: 0.8;
}

.splash h1
{
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.splash p
{
  font-size: 1.5rem;
  opacity: 0.8;
}

.scroll-down
{
  position: absolute;
  bottom: 40px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  animation: bounce 2s infinite;
}

@keyframes bounce
{
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(10px); }
}

.content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
    padding: 1rem;
}

.upSlide, .leftSlide, .rightSlide, .imageSlide, .profileSlide, .logoSlide
{
    opacity: 0;
    transition: all 0.8s ease-out;
    will-change: opacity, transform;
}

.upSlide
{
    transform: translateY(-50%);
    flex: 2;
    min-width: 280px;
}

.leftSlide
{
    transform: translateX(-100%);
    flex: 2;
}

.rightSlide
{
    transform: translateX(100%);
    flex: 2;
}

.profileSlide
{
    transform: translateX(-100%);
    flex: 1;
    margin-left: 20px;
    width: 300px;
    text-align: left;
}

.logoSlide
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: grayscale(0.75);

  opacity: 0;
  transition:
    transform 0.3s, ease,
    box-shadow 0.3s, ease,
    opacity 0.6s ease-out;
}

.logoSlide.show { transform: translateY(0); opacity: 1; }
.logoSlide.show:hover { transform: scale(0.95); filter: grayscale(0); }

/* Border for profile */
.profileSlide img
{
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid #45814e;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Experience Section (Some helpers borrowed from project */
.experienceCard
{
  background-color: #324437;
  color: white;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  min-width: 150px;
  height: auto;
  padding: 1rem;
  text-decoration: none;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transform: translateX(-100%);
  opacity: 0;
}


.experienceLogo
{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  background-color: white;
}

.experienceCard ul { text-align: left; }

/* Project Section */
.projectSection, .experienceSection
{ position: relative; padding-bottom: 120px; }

.projectGrid, .experienceGrid
{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 2rem;
}

.projectCard
{
  background-color: #324437;
  color: white;
  border-radius: 12px;
  text-align: left;
  width: 300px;
  min-width: 250px;
  height: auto;
  padding: 1rem;
  text-decoration: none;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transform: translateX(-100%);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard .content
{
  margin-top: auto;
}

.projectCard h3 { margin: 0.5rem 0 0.3rem; font-size: 1.3rem; }
.projectCard ul { font-size: 1rem; opacity: 0.9; text-align: left; }

/* .projectCard.show
{
  opacity: 1;
  transform: translate(0, 0);
} */

.projectCard.show:hover
{
  background-color: #528a4d;
  box-shadow: 0px 0px 10px 5px rgba(228, 241, 227, 0.4);
}

.projectCardThumbnail
{
  width: 100%;
  height: auto;
  margin-top: 16px;
  object-fit: cover;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.upSlide.show, .leftSlide.show, .rightSlide.show, .imageSlide.show, .profileSlide.show, .projectCard.show, .experienceCard.show
{
    opacity: 1;
    transform: translate(0, 0);
}

/* Button Section */
.buttonWrapper
{
  margin-top: 100px;
  object-fit: cover;
}

.logoButton
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  background-color: white;
  filter: grayscale(0.75);
}

.logoButton:hover
{
  transform: scale(0.95);
  filter: grayscale(0);
}

.button
{
  display: inline-block;
  padding: 12px 24px;
  background-color: #57705b;
  color: white;
  margin-right: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover
{
  background-color: #45814e;
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0px 0px 5px 5px rgba(188, 255, 185, 0.4);
}

